altgraph==0.17
astroid==2.3.3
autopep8==1.5.1
certifi==2020.4.5.1
chardet==3.0.4
entrypoints==0.3
ExifRead==2.1.2
flake8==3.7.9
get==2019.4.13
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
macholib==1.14
mccabe==0.6.1
numpy==1.18.3
Pillow==7.1.1
post==2019.4.13
public==2019.4.13
pycodestyle==2.5.0
pyflakes==2.1.1
PyInstaller==3.6
pylint==2.4.4
query-string==2019.4.13
request==2019.4.13
requests==2.23.0
six==1.14.0
urllib3==1.26.5
wrapt==1.11.2
wxPython==4.0.7.post2
